html, body, #root {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}


button .unset{
  border: unset;
  background: unset;
  padding: unset;
  margin: unset;
  cursor: unset;
  color: unset;
  font-size: unset;
  font-family: unset;
  font-weight: unset;
  line-height: unset;
  text-align: unset;
  text-decoration: unset;
  text-transform: unset;
  letter-spacing: unset;
}